# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
.AppleDouble
.LSOverride
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db


# file that contains sensible information
.extra
.path
.vscode

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Icon must end with two \r
Icon
